* {
    margin: 0%;
    padding: 0%;
    font-family: 'Acme', sans-serif;
    scroll-behavior: smooth;
}

.header {
    min-height: 88vh;
     background-color: none;
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(images/Bg.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav {
    background-color: rgb(13, 13, 70);
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 255, 55);
    z-index: 2;
    display: flex;
}

img {
    margin-left: 1%;
    width: 8rem;
    height: 10vh;
}

.nav-links {
    flex: 1;
    text-align: right;
    color: white;
    margin-right: 3%;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 5px;
    margin-right: 2%;
    position: relative;
    text-decoration: none;
    font-size: 17px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(0, 255, 55);
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

.nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li a:hover {
    color: rgb(0, 255, 55);
}

.about-textbox {
    color: white;
    font-size: 1rem;
    top: 2rem;
    left: 2rem;
    position: absolute;
}


.textbox {
    color: white;
    font-size: 1.5rem;
    top: 6rem;
    left: 3rem;
    position: absolute;
}

.about-textbox p {
    font-size: 1rem;
    width: 80vw;
    text-align: justify;
}

.textbox p {
    font-size: 1rem;
    width: 85vw;
    text-align: justify;
}

span {
    color: rgb(0, 255, 55);
    font-size: 5rem;
    text-shadow: 3px 3px 5px rgb(162, 189, 42);
}


.textbox a,
.about-textbox a {
    color: black;
    margin: 1%;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: 0.5s;
    background-color: white;
    animation-name: btn;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes btn {
    from {}

    to {
        text-shadow: 2px 2px 5px red;
    }

}

.textbox a::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    transition: 0.5s;
}

.textbox a:hover {
    color: rgb(255, 72, 0);
    text-shadow: 2px 3px 8px rgba(13, 58, 207, 0.699);
}

.textbox a:hover::after {
    width: 100%;
    background: rgb(255, 72, 0);
    color: rgb(255, 72, 0);

}

.headerimg {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 10rem;
    left: 45rem;
    box-sizing: border-box;
}

.headerimg img {
    margin: auto;
    width: 30rem;
    height: 300px;
}

.content h2 {
    margin: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;

}



.content {
    width: 96%;
    margin: auto;
    height: 50%;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    position: relative;


}

.content h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 6%;
    text-decoration: none;
    color: black;
    text-shadow: 2px 5px 12px grey;
}

.row {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.test {
    flex-basis: 80%;
    margin-right: 2px;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 50px 50px;
    padding-left: 2rem;
    box-sizing: border-box;
    text-align: justify;
    font-size: 12px;
    transition: 0.5s;
    border: 2px dotted black;
    background: linear-gradient(to right top, rgb(0, 225, 225), rgb(0, 255, 0), rgba(238, 225, 0));
    box-shadow: 2px 2px 10px 5px grey;

}

.test h1 {
    font-size: 65px;
    text-align: center;
}

.test h4 {
    font-size: 20px;
    text-align: center;
}

.sample-certificate {
    margin-top: 10%;
    flex-basis: 95%;
    margin-right: 2px;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 50px 50px;
    padding-left: 2rem;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
}

.sample-certificate ul li {
    margin: 2%;
}

.sample-certificate img {
    width: 500px;
    height: 300px;
    float: right;
    box-shadow: 2px 2px 5px 2px grey;
    margin: 10px;
}

.content-col {

    flex-basis: 20%;
    margin-right: 2px;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 12px;
    transition: 0.5s;
    border: 2px dotted black;


}

.content-col img {
    width: 160px;
    margin-left: 2rem;
    height: 150px;
}

.content h3 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 8%;
    color: rgb(18, 18, 19);
}

.content-col p {
    color: greenyellow;
    font-size: 18px;
}

.content-col a,
.test a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 70%;
    text-align: center;
    background-color: green;
    transition: 0.5s;
    border-radius: 50px 20px;
    margin: auto;
    display: block;
}

.test a {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.8%;
}

.content-col a:hover,
.test:hover a {
    color: rgb(3, 3, 3);
    border: 2px solid green;
    background-color: transparent;
}

.content-col:hover {
    background: linear-gradient(to right top, rgb(13, 13, 70) 2%, rgb(71, 233, 71), rgb(13, 13, 70));
    box-shadow: 2px 2px 15px 10px rgb(33, 37, 34);
    transform: scale(1.05);

}

.content-col:hover a,
.test:hover a {
    background-color: white;
    color: black;
}



.content p {
    font-size: 22px;
    margin: 0.5rem;
    color: rgba(0, 0, 0, 0.651);
}


@media(max-width:700px) {
    .textbox {
        font-size: 1rem;
    }

    span {
        font-size: 4rem;
    }

    .nav-links ul li {
        font-size: 15px;
    }

    nav img {
        margin-left: 1%;
        width: 8rem;
        height: 10vh;
    }

    .headerimg {
        display: none;
    }

    .content-col h3 {
        font-size: 1px;
    }

}

@media(max-width:1200px) {
    .headerimg {
        left: 30rem;
        top: 15rem;
    }

    .headerimg img {
        width: 350px;
        height: 200px;
    }
}




@media(max-width:700px) {

    .header {
        background-color: none;
        background-image: linear-gradient(rgba(37, 38, 41, 0.7), rgba(29, 29, 31, 0.9)), url(images/Bg.png);
        background-position: left;
        background-size: cover;

    }

    .row {
        flex-direction: column;
        flex-wrap: nowrap;

    }

    .test img {
        width: 100%;
        height: 200px;
        margin-right: 0.8rem;
    }

    .content-col img {
        float: left;
    }

    .content-col h3 {
        font-size: 2rem;
    }

    .content-col a {
        width: 10rem;
        position: relative;
        left: 14%;
        float: left;
    }

    .content h2 {
        font-size: 1rem;
    }

    .content p {
        font-size: 15px;
    }

    .test h1 {
        font-size: 25px;
    }

    .test a {
        width: auto;
        padding: 0.3rem;
    }

    .content-col:hover,
    .test:hover {
        background: linear-gradient(to right, rgb(71, 233, 71) 20%, rgb(238, 255, 0));
        background: linear-gradient(to right top, rgb(0, 225, 225), rgb(0, 255, 0), rgba(238, 225, 0));
        box-shadow: 2px 2px 15px 10px rgb(33, 37, 34);
        transform: scale(1.001);

    }

    .sample-certificate {

        flex-direction: column;
    }

    .sample-certificate img {
        width: 70vw;
        height: 15vh;
    }

    .sample-certificate h2 {
        font-size: 40px;
    }

}



.team {
    min-height: 20vh;
    background: linear-gradient(to right top, rgb(13, 13, 70) 5%, rgb(71, 233, 71), rgb(13, 13, 70));
    margin-top: 2rem;
    padding: 5rem;

}



.team p {
    font-size: 22px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


.team h3 {
    font-size: 28px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px white;
}

.about {
    border-top: 3px solid rgb(246, 248, 246);

    background-color: black;
    padding: 5rem;
    color: white;
    display: flex;
}

.footermenu {
    flex-basis: 25%;
    text-align: left;
    justify-content: space-between;
    margin-left: 4%;
    border-right: 1px dotted white;

}

.footermenu p {
    text-align: justify;
    padding-right: 10px;
    font-size: 10px;
}

.footermenu .mail {
    font-size: 15px;
    color: rgb(0, 255, 55);
}

.footermenu a {
    text-decoration: none;
    font-size: 13px;
    color: white;
}

.footermenu h2 {
    color: red;
}

.footermenu ul li {
    list-style: none;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    font-size: 18px;

}

.footermenu ul li a {
    text-decoration: none;
    color: rgb(0, 255, 55);
    color: white;
    transition: 1s;
}

.footermenu ul li a:hover {
    color: white;
    font-size: 18px;
    color: rgb(0, 255, 55);
}



@media(max-width:700px) {
    .team p {
        font-size: 1rem;
    }

    .about {
        flex-direction: column;
    }

    .footermenu {
        padding-bottom: 2rem;
        border-right: none;
    }
}


footer {

    background-color: rgb(13, 13, 70);
    font-size: 1rem;
    text-align: center;
    color: white;
}

footer span {
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
}

@media(max-width:570px) {

    nav {
        background-color: rgb(46, 44, 44);
    }

    nav img {
        margin-left: 1%;
        width: 8rem;
        height: 10vh;
    }

    .nav-links ul li {
        font-size: 10px;
    }

    .about-textbox p {
        font-size: 0.7rem;
        width: 80vw;
        text-align: justify;
    }

    .textbox {
        left: 2rem;
    }

    .textbox h1 span,
    .textbox p {
        font-size: larger;
    }
}
