
body
{
  background-color: black;
  -ms-user-select:none;
  -webkit-user-select: none;
  user-select: none;
}
.nav{
  position: fixed;
  min-width: 100vw;
  background-color: black;
}
#contact-nav
{
  background-color: black;
}


/* Set a style for the submit button */
.btn {
  
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  padding: 10px 10px;
  cursor: pointer;
  width: 40%;
  opacity: 0.8;
  transition: 1s;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
   text-align: center;
  
}
.btn:hover {
  opacity: 1;
  color: green;
  box-shadow: 2px 2px 5px black;
}
#test-box
{
  display: none;
}


.test-index
{
  width: 95%;
  height: 20vh;
  display: flex;
  margin: auto;
  border-radius: 20px;
}
.userdetail
{
margin-top: 2%;
 display: flex;

  
}
#verify-btn
{
  display: none;
}
#table-name,#table-email,#table-mobile,.hide-input
{
  color:black;
  flex-basis: 30%;
  display: none;
}
.index 
{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  background-color: rgb(8, 105, 8);
  margin: 1.3%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 4px black;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 0%;
  
}
.index>p{
  color: white;
}
.index a{
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 4px rgb(240, 231, 231);
  padding: 2px;
  border-radius: 5%;
}
#test-box h2
{
  font-size: 1.5rem;
}

.questions
{
  display: flex;
  width: 95%;
  min-height: 45vh;
  margin: auto;
  margin-top: 0%;
  border-radius: 20px;
  margin-bottom: 2%;
  
  
}
.question
{
  background-color: rgba(238, 230, 230, 0.678);
  color: black;
  padding-top: 2%;
  width: 100%;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: linear-gradient(to right bottom,
      rgba(255,255,255,0.9),
      rgba(255,255,255,0.5)
  );
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.question>.btn
{
  border-radius: 5px;
  max-width: 40%;
  font-size: 1rem;
}
.answers
{
  width: 100%;
  min-height: 35vh;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto ;
  padding: 5px;
  margin: auto;
}
.option
{
  background-color: rgba(238, 230, 230, 0.678);
  border: 2px dotted black;
  position: relative;
  padding: 2px;
  margin: 1.3%;
  justify-content: center;
  align-items: center;
  padding: 10%;
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 4px rgb(172, 157, 157);
  background: linear-gradient(to right bottom,
      rgba(255,255,255,0.9),
      rgba(255,255,255,0.5)
  );
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

#successfully
{
  position: absolute;
  width: 40%;
  height: 40%;
  top: 20%;
  right: 25%;
  background-color: gray;
  z-index: 10;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  box-shadow: 2px 5px 30px green;
  padding: 5% 5%;
  text-align: center;
  display: none;

}
.errormsg
{
  width: 100vw;
  height: 85vh;
  background-color: rgb(184, 67, 67);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15%;
  display: none;
}

.contact-us
{
  display: block;
}

#message
{display: none;}

@media(max-width:700px){
.card
{
  margin-top: -5%;
}
.box
{
  width: 80vw;
}
.userdetail
{
  margin-top: -2%;
}
.test-index
{
  font-size: 2vw;
  height: 12vh;
  margin-bottom: 2%;
}
.index
{
  padding: -0%;
  height: 12vh;
  flex-basis: 50%;
}
.index p{font-size: 2vw;}
.questions
{
  flex-direction: column;
  background: linear-gradient(to right bottom,
  rgba(255,255,255,0.9),
  rgba(255,255,255,0.5)
);
  padding: 2%;
}
.question
{background: transparent;}
.question h5{font-size: 4vw;}
.answers
{
  height: 10vh;
  
  min-height: 10vh;
  grid-template-columns: auto ;
  padding: 0;
  gap: 5px;
  margin-top: 2%;
}
.answers h6
{
  font-size: 3vw;
  font-weight: 300;
  
}
.option
{
  padding: 1vh;
  margin: 0.2%;
  border-radius: 0;
  border: none;
  text-align: justify;
  background: transparent;
  border-bottom: 2px dotted grey;
}
#successfully
{
  height: 50%;
  font-size: smaller;
}
.contact-card
{
  margin-top:-15%;
}
.contact-detals
{
  display: none;
}
.Contact-box
{
min-width: 80vw;
margin-bottom: 2%;
}
}
